body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
    
}

/* BALÃO */
h1.balao {
  font-family: "petala-pro", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;    /* fixa sempre no mesmo lugar */
    top: 60px;
    left: 60px;

    height: 450px;
    width: 450px;
    margin: 0;

    font-size: 18px;
    padding: 40px 30px;
    background-image: url(imagens/nuvem.webp);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px; /* espaço entre texto e botão */

    text-align: left;
    color: #000;
}
h1.balao2 {
  font-family: "petala-pro", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;    /* fixa sempre no mesmo lugar */
    top: 200px;
    left: 190px;

    height: 450px;
    width: 450px;
    margin: 0;

    font-size: 18px;
    padding: 40px 30px;
    background-image: url(imagens/nuvem.webp);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px; /* espaço entre texto e botão */

    text-align: left;
    color: #000;
}

/* BOTÃO DENTRO DO BALÃO */
.botao {
    align-self: left;
    padding: 10px 20px;
    width: fit-content;

    background: #ffffffaa;
    border: 1px solid #444;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    transition: 0.3s;
}

.botao:hover {
    background: #c7d8ff;
}

 .explicacao {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
 }


input {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    margin-top: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
}
.erro {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    display: none;
}
:root{
    --size: 140px; /* tamanho de cada quadrado */
    --gap: 12px;
  }

  

  .container {
    text-align:center;
  }

  .grid {
    
    margin-top: 150px;
    margin-left: 350px;
    display:grid;
    grid-template-columns: repeat(3, var(--size));
    grid-template-rows: repeat(3, var(--size));
    gap: var(--gap);
    justify-content:center;
    align-items:center;
    padding: 18px;
  
    border-radius: 14px;
   
  }

  .cell {
    width: var(--size);
    height: var(--size);
    border-radius: 8px;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    user-select:none;
    border: 2px solid #e6eef8;
    position:relative;
    transition: transform 400ms cubic-bezier(.2,.9,.3,1), box-shadow 200ms;
    will-change: transform;
    background:#f8fafc;
  }

  .cell:active {
    transform: scale(0.98);
  }

  /* sombra leve ao passar mouse */
  .cell:hover {
    box-shadow: 0 6px 20px rgba(30,60,120,0.08);
  }

  /* a imagem interna */
  .cell img {
    width: 130%;
    height: 130%;
    object-fit: contain;
    pointer-events: none; /* garantir que clique passe para o botão celular */
    transition: transform 400ms cubic-bezier(.2,.9,.3,1);
  }

  /* mostra o ângulo atual para debug (opcional) */
  .badge {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 11px;
    background: rgba(0,0,0,0.06);
    padding: 2px 6px;
    border-radius: 8px;
    color:#111;
    display:none; /* trocar para block se quiser ver os valores */
  }

  .message {
    margin-top:14px;
    font-size:14px;
    color:#0b6efd;
    min-height:18px;
  }

  /* responsivo */
  @media (max-width:420px){
    :root{ --size:86px; --gap:8px; }
    h1{ font-size:16px; }
  }
  .botaoescondido {
  position: absolute;
  top: 525px;
  left: 1450px;
    height: 50px;
    width: 50px;
    background-image: url('imagens/chave-15.png');
    background-size: cover;
    color:#0b6efd;
    opacity: 1;
    z-index: 5;
  }
  .caixa-texto   {
    position: absolute;   /* fixa no lugar */
    top: 100px;            /* distância do topo */
    left: 100px;           /* distância da esquerda */
    width: 250px;         /* tamanho da caixa */
    padding: 10px;
    background: #ffffffcc; /* fundo branco semi-transparente */
    border-radius: 10px;
    border: 1px solid #999;
    font-family: Arial;
  }
  .caixa-texto2   {
    position: absolute;   /* fixa no lugar */
    top: 300px;            /* distância do topo */
    left: 100px;           /* distância da esquerda */
    width: 250px;         /* tamanho da caixa */
    padding: 10px;
    background: #ffffffcc; /* fundo branco semi-transparente */
    border-radius: 10px;
    border: 1px solid #999;
    font-family: Arial;
  }
  body.fundo-fechadura {
    background-image: url('imagens/fechadura.png');
    background-size: cover;
    background-position: center;
  }
   body.fundo-dica {
    background-image: url('imagens/dica.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-guarda {
    background-image: url('imagens/guarda.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-prefinal {
    background-image: url('imagens/trabalho.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-prefinal2 {
    background-image: url('imagens/prefinal.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-inicio {
    background-image: url('imagens/inicio.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-guarda2 {
    background-image: url('imagens/guardacerto.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-chave {
    background-image: url('imagens/crianca.png');
    background-size: cover;
    background-position: center;
    z-index: 2;
  }
  body.fundo-canos {
    background-image: url('imagens/canos.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-velho {
    background-image: url('imagens/louquinho.png');
    background-size: cover;
    background-position: center;
  }
  body.fundo-carro {
    background-image: url('imagens/carro.png');
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
  }
  body.fundo-caminhando {
    background-image: url('imagens/caminhando1.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  body.fundo-caminhando2 {
    background-image: url('imagens/caminhando2.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  body.fundo-valvulas {
    background-image: url('imagens/valvulas.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  body.fundo-valvulas {
    background-image: url('imagens/valvulas.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  body.fundo-atalho {
    background-image: url('imagens/atalho.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  body.fundo-final {
    background-image: url('imagens/final.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
    body.fundo-fechadura2 {
    background-image:  linear-gradient(rgba(255, 255, 255, 0.082), rgba(51, 51, 51, 0.5)), url('imagens/fechadura.jpg');
    background-size: cover;
    background-position: center;
  }
  
  body.fundo-chave2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.082), rgba(51, 51, 51, 0.5)),  url('imagens/chave.jpg');
    background-size: cover;
    background-position: center;
  }
  body.fundo-precanos {
    background-image: url('imagens/precanos.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }